<div class="container-fluid">
<h1>YourLovedOne.net</h1>
<p>Have you ever lost contact anyone in an event of disaster? Sometimes we take the convience of modern communication so for granted that we forget what it is like to lose touch with our loved ones. </p>
<p>YourLovedOne.net tries to be of help to people who are in a disaster and can’t communicate with their loved ones. By posting on this site, you can rest assured that your message lies safely in our database, here in New York City, and your information will easily reach your loved one.</p>
<p>Disasters, as many other things, are only ephemeral. Your loved one, however, is forever.</p>
</div>
