<div class="container-fluid">
<h1>YourLovedOne.net</h1>
<form method="post">
  Your name: <input type="text" name="name" class="form-control" id="inputsm" placeholder="required">
  <br>
  Current Disaster: <input type="text" name="title" class="form-control" id="inputsm" placeholder="required">
  <br><br>
  <textarea cols="86" rows ="20" name="message" class="form-control" id="inputsm" placeholder="What would you like to tell your loved one? ..(try using markdown)!"></textarea>
<br><br>
  <input type="submit" value="Submit" align="right" class="btn btn-primary">
</form>
</div>

